@import url('/style.css');
:host {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
}

.history {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: .2rem;
    overflow: auto;
}

.info {
    font-size: .8rem;
    opacity: .2;
    text-align: center;
    margin: .4rem;
}

.msg {
    margin: .4rem;
    min-width: 25%;
    max-width: calc(90% - .4rem - .4rem);
    word-wrap: break-word;
    display: grid;
    font-weight: 400;
}

.msg-remote {
    align-self: flex-start;
    grid-template-columns: auto 2.4rem;
}

.msg-local {
    align-self: flex-end;
    grid-template-columns: 2.4rem auto;
}

.profile-picture {
    height: 2rem;
    width: 2rem;
    margin: .2rem;
}

.msg-local .profile-picture {
    grid-row: 2;
    grid-column: 1;
}

.msg-remote .profile-picture {
    grid-row: 2;
    grid-column: 2;
}

.user {
    font-size: .8rem;
    opacity: .2;
}

.msg-local .user {
    grid-row: 1;
    grid-column: 2;
}

.msg-remote .user {
    grid-row: 1;
    grid-column: 1;
    text-align: right;
}

.content {
    width: 100%;
    padding: .4rem;
    border-radius: .4rem;
}

.msg-local .content {
    grid-row: 2;
    grid-column: 2;
    color: hsl(216, 90%, 17%);
    background-color: hsl(216, 70%, 70%);
}

.msg-remote .content {
    grid-row: 2;
    grid-column: 1;
    color: hsl(0, 0%, 15%);
    background-color: hsl(0, 0%, 75%);
}

.new-msg {
    padding-top: .5rem;
    display: flex;
}

.new-msg textarea {
    flex-grow: 1;
    margin-right: .5rem;
    padding: .4rem;
    line-height: 1rem;
    min-height: calc(1rem + .8rem);
    height: calc(1rem + .8rem);
    max-height: calc(5 * (1rem + .8rem));
    resize: none;
    overflow: auto;
}