@import url('/style.css');
.box {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.history {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    padding: .2rem;
    overflow: auto;
}

.msg-remote, .msg-local {
    border-radius: .4rem;
    padding: .4rem;
    margin: .4rem;
    min-width: 25%;
    max-width: calc(90% - .4rem - .4rem);
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: hsla(var(--pop-color-hsl), 0.1);
}

.info {
    font-size: .8rem;
    opacity: .2;
    text-align: center;
    margin: .4rem;
}

.msg-remote {
    --pop-color-hsl: 250, 70%, 75%;
    --opo-color-hsl: 250, 55%, 15%;
    align-self: flex-start;
}

.msg-local {
    --pop-color-hsl: 216, 70%, 70%;
    --opo-color-hsl: 216, 55%, 17%;
    align-self: flex-end;
}

.msg-local, .msg-remote {
    font-weight: 400;
    background-color: hsl(var(--pop-color-hsl));
    color: hsl(var(--opo-color-hsl));
}

.user {
    font-size: .8rem;
    opacity: .8;
}

.content {
    width: 100%;
}

.new-msg {
    padding-top: .5rem;
    display: flex;
}

.new-msg textarea {
    flex-grow: 1;
    margin-right: .5rem;
    padding: .4rem;
    line-height: 1rem;
    min-height: calc(1rem + .8rem);
    height: calc(1rem + .8rem);
    max-height: calc(5 * (1rem + .8rem));
    resize: none;
    overflow: auto;
}