<template>
    <div class="box">
        <div class="history">
            <div class="info">12/01/2021 12h30</div>
            <div class="msg-remote">
                <div class="user">Rick</div>
                <div class="content">Hi ?</div>
            </div>
            <div class="msg-local">
                <div class="user">Rick</div>
                <div class="content">Hi !</div>
            </div>
            <div class="info">12/01/2021 12h40</div>
            <div class="msg-remote">
                <div class="user">Lee</div>
                <div class="content">Hi :D</div>
            </div>
            <div class="msg-local">
                <div class="user">Rick</div>
                <div class="content">
                    Hi!Hi!Hi!Hi!Hi!Hi!Hi!
                    Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!
                </div>
            </div>
        </div>
        <div class="new-msg">
            <textarea id="send-msg" class="grey"></textarea>
            <button id="send-btn" class="discreet grey"><i class="far fa-paper-plane"></i></button>
        </div>
    </div>
</template>