.dev-panel {
    width: 100%;
    flex-grow: 1;
    padding: 2rem;
}

.dev-panel .top-bar {
    border-bottom: 1px solid #FFFFFF44;
    font-size: small;
    color: #FFFFFF44;
    display: flex;
    justify-content: space-between;
}