<!-- Dev panel component -->
<template>
    <div class="top-bar">
        <lazy-comp data-path="/components/clock">
            <span slot="before">⏲</span>
        </lazy-comp>
        <span>dev-panel</span>
    </div>

    <h2>Server</h2>
    <p>
        Websocket channel is <code class="server-con-status">-</code>.
    </p>
    <div>
        <button class="btn-connect">Connect</button>
        <button class="btn-close">Close</button>
    </div>

    <h2>P2P identification</h2>
    <table>
        <thead>
            <th>Field</th>
            <th>Value</th>
        </thead>
        <tbody>
            <tr>
                <td>Local user</td>
                <td><code class="p2p-local-user">-</code></td>
            </tr>
            <tr>
                <td>Local device</td>
                <td><code class="p2p-local-device">-</code>
            </tr>
            <tr>
                <td>Local session</td>
                <td><code class="p2p-local-session">-</code></td>
            </tr>
        </tbody>
    </table>

    <h2>Local storage</h2>
    <p>
        Private data stored on your device.
    </p>
    <div>
        <button class="btn-refresh">Refresh</button>
        <button class="btn-clear">Clear</button>
    </div>
    <table>
        <thead>
            <th>Module</th>
            <th>Key</th>
            <th>Value</th>
        </thead>
        <tbody class="local-storage-tbody">
        </tbody>
    </table>

    <h2>WebRTC</h2>
    <h3>ICE candidates</h3>
    <div>
        <button class="btn-gen-ice-candidates">Gather candidates</button>
    </div>
    <table>
        <thead>
            <th>Candidate</th>
            <!-- <th>Component</th>
            <th>Type</th>
            <th>Foundation</th>
            <th>Protocol</th>
            <th>Address</th>
            <th>Port</th>
            <th>Priority</th> -->
        </thead>
        <tbody class="webrtc-ice-candidates-tbody">
        </tbody>
    </table>
    <h3>Local offer</h3>
    <p>
        Generate a dummy local offer
    </p>
    <div>
        <button class="btn-gen-offer">Generate</button>
    </div>
    <p>
        <code class="webrtc-offer">-</code>
    </p>

    <h2>Service worker</h2>
    <p>
        WIP
    </p>

    <h2>Components</h2>
    <p>
        WIP
    </p>
</template>