<!-- Comment ! -->
<component>
    <div class="dev-panel">
        <div class="top-bar">
            <component data-path="/components/clock"></component>
            <span>dev-panel</span>
        </div>
        <h2>P2P identification</h2>
        <table>
            <thead>
                <th>Field</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr>
                    <td>Local user</td>
                    <td><code class="p2p-local-user">unset</code></td>
                </tr>
                <tr>
                    <td>Local device</td>
                    <td><code class="p2p-local-device">unset</code>
                </tr>
                <tr>
                    <td>Local session</td>
                    <td><code class="p2p-local-session">unset</code></td>
                </tr>
            </tbody>
        </table>
        <h2>Data</h2>
        <p>
            Delete all the stored data.
        </p>
        <div>
            <button class="btn-clear">Clear</button>
        </div>
    </div>
</component>