<!-- Comment ! -->
<component>
    <div class="dev-panel">
        <div class="top-bar">
            <component data-path="/components/clock"></component>
            <span>dev-panel</span>
        </div>

        <h2>Server</h2>
        <p>
            Websocket channel state <code class="server-con-status">unset</code>
        </p>
        <div>
            <button class="btn-connect">Connect</button>
            <button class="btn-close">Close</button>
        </div>

        <h2>P2P identification</h2>
        <table>
            <thead>
                <th>Field</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr>
                    <td>Local user</td>
                    <td><code class="p2p-local-user">unset</code></td>
                </tr>
                <tr>
                    <td>Local device</td>
                    <td><code class="p2p-local-device">unset</code>
                </tr>
                <tr>
                    <td>Local session</td>
                    <td><code class="p2p-local-session">unset</code></td>
                </tr>
            </tbody>
        </table>

        <h2>Local storage</h2>
        <p>
            Private data stored on your device.
        </p>
        <div>
            <button class="btn-refresh">Refresh</button>
            <button class="btn-clear">Clear</button>
        </div>
        <table>
            <thead>
                <th>Module</th>
                <th>Key</th>
                <th>Value</th>
            </thead>
            <tbody class="local-storage-tbody">
            </tbody>
        </table>

        <h2>Service worker</h2>
        <p>
            WIP
        </p>

        <h2>Components</h2>
        <p>
            WIP
        </p>
    </div>
</component>