<template>
    <div id="bg" class="js-hidden">
        <div id="fg">
            <div id="header">
                <div id="title">
                    <slot name="title">Information</slot>
                </div>
                <button id="close" class="transparent grey" aria-label="close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div id="content">
                <slot name="content"></slot>
            </div>
            <div id="footer">
                <div id="choices">
                    <slot name="choices"></slot>
                </div>
            </div>
        </div>
    </div>
</template>