@import url('/style.css');
:host {
    width: 100%;
    padding: 2rem;
    display: grid;
}

@media (max-width: 50rem) {
    :host {
        padding: 1.5rem;
    }
}

@media (max-width: 30rem) {
    :host {
        padding: 1rem;
    }
}

.top-bar {
    border-bottom: 1px solid #FFFFFF44;
    font-size: small;
    color: #FFFFFF44;
    display: flex;
    justify-content: space-between;
}

.layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 1.5rem;
    grid-auto-flow: row dense;
    margin-top: 1.5rem;
}

.block {
    overflow: hidden;
    border: 1px solid #1D1D1D;
    background-color: #292929;
    border-radius: .2rem;
    padding: 1.5rem;
}

@media (max-width: 50rem) {
    .layout {
        grid-template-columns: 1fr;
    }
    .block {
        padding: .8rem;
    }
}

.block>h2 {
    margin-top: 0;
    margin-bottom: .2rem;
}

.block>h3 {
    margin-top: 1rem;
    margin-bottom: .2rem;
}