<template>
    <div class="top-bar">
        <min-component data-path="/components/clock">
            <span slot="before">⏲</span>
        </min-component>
        <span>dev-panel</span>
    </div>

    <div class="layout">
        <div class="block">
            <h2>UI</h2>
            <h3>
                Buttons
            </h3>
            <p>
                <button>default</button>
                <button class="grey">.grey</button>
                <button class="blue">.blue</button>
                <button class="green">.green</button>
                <button class="red">.red</button>
                <button class="yellow">.yellow</button>
            </p>
            <p>
                <button class="outline">outline</button>
                <button class="outline grey">.grey</button>
                <button class="outline blue">.blue</button>
                <button class="outline green">.green</button>
                <button class="outline red">.red</button>
                <button class="outline yellow">.yellow</button>
            </p>
            <p>
                <button class="text-icon">🗑</button>
                <button class="text-icon grey">🗑</button>
                <button class="text-icon blue">🗑</button>
                <button class="text-icon green">🗑</button>
                <button class="text-icon red">🗑</button>
                <button class="text-icon yellow">🗑</button>
            </p>
            <p>
                <button class="outline icon grey" aria-label="menu">
                    <img src="img/cross.svg" alt="cross">
                </button>
            </p>
            <h3>
                Code
            </h3>
            <p>
                <code>default</code>
                <code class="verbose">.verbose</code>
                <code class="success">.success</code>
                <code class="debug">.debug</code>
                <code class="info">.info</code>
                <code class="warning">.warning</code>
                <code class="error">.error</code>
                <code class="failure">.failure</code>
            </p>
            <h3>
                Components
            </h3>
            <p>
                <button class="blue btn-modal-show">modal show()</button>
                <button class="blue btn-modal-ask">modal ask()</button>
            </p>
            <min-component id="modal" data-path="/components/ui/modal">
                <span slot="title">🎆 Sparking title</span>
                <span slot="content">
                    <p>
                        <b>Yay</b>, test of content, <a href="/dev">dev link</a>.
                    </p>
                </span>
                <div slot="choices">
                    <button class="blue">Do noting ?</button>
                    <button class="green">Yes.</button>
                </div>
            </min-component>
        </div>

        <div class="block">
            <h2>Service worker</h2>
            <p>
                Version executed <code class="sw-version">-</code>.
                <code class="sw-error error"></code>
            </p>
            <div>
                <button class="blue btn-sw-refresh">Refresh</button>
            </div>
        </div>

        <div class="block">
            <h2>Websocket server</h2>
            <p>
                Websocket channel is <code class="server-con-status">-</code>.
            </p>
            <div>
                <button class="blue btn-connect">Connect</button>
                <button class="blue btn-close">Close</button>
            </div>
        </div>

        <div class="block">
            <h2>P2P</h2>
            <h3>Peers</h3>
            <p>
                Local peer id is <code id="p2p-local-id">-</code> <button id="p2p-local-id-copy-btn">✂</button>.
            </p>
            <p>
                Connect to peer by id <input id="p2p-peer-connect-id"> <button id="p2p-peer-connect-btn"
                    class="blue">Go</button>.
            </p>
            <p>
                Currently connected to <code id="p2p-peer-count">-</code> peers.
            </p>
            <table>
                <thead>
                    <th>Id</th>
                    <th>Status</th>
                    <th>Ping</th>
                </thead>
                <tbody id="p2p-peers-tbody">
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
            <h3>Friends</h3>
            <p>
                Local name for friends <input id="p2p-friends-local-name">
            </p>
            <p>
                Add friend by id <input id="p2p-friends-add-id"> <button id="p2p-friends-add-btn"
                    class="blue">Add</button>.
            </p>
            <p>
                <button id="p2p-friends-refresh" class="blue">Refresh</button>
            </p>
            <table>
                <thead>
                    <th>User</th>
                    <th>Session</th>
                </thead>
                <tbody id="p2p-friends-tbody">
                    <tr>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
                <!-- TODO fix display bug -->
                <min-component id="p2p-friends-confirm-modal" data-path="/components/ui/modal">
                    <span slot="title">Confirmation</span>
                    <p slot="content">
                        Do you really want to remove this friend ?
                    </p>
                    <div slot="choices">
                        <button class="green" data-choice="yes">Sure</button>
                        <button class="blue">Cancel</button>
                    </div>
                </min-component>
            </table>
        </div>

        <div class="block">
            <h2>Local storage</h2>
            <p>
                Private data stored on your device.
            </p>
            <div>
                <button class="blue btn-refresh">Refresh</button>
                <button class="blue btn-clear">Clear</button>
            </div>
            <table>
                <thead>
                    <th>Module</th>
                    <th>Key</th>
                    <th>Value</th>
                </thead>
                <tbody class="local-storage-tbody">
                </tbody>
            </table>
            <min-component id="clear-confirm-modal" data-path="/components/ui/modal">
                <span slot="title">Confirmation</span>
                <p slot="content">
                    Do you realy wan't to clear the local storage ?<br>
                    The operation is <b>irreversible</b>.
                </p>
                <div slot="choices">
                    <button class="green" data-choice="yes">Yes</button>
                    <button class="blue">Cancel</button>
                </div>
            </min-component>
        </div>

        <div class="block">
            <h2>WebRTC</h2>
            <h3>ICE candidates</h3>
            <div>
                <button class="blue btn-gen-ice-candidates">Gather candidates</button>
            </div>
            <table>
                <thead>
                    <th>Candidate</th>
                    <!-- <th>Component</th>
            <th>Type</th>
            <th>Foundation</th>
            <th>Protocol</th>
            <th>Address</th>
            <th>Port</th>
            <th>Priority</th> -->
                </thead>
                <tbody class="webrtc-ice-candidates-tbody">
                </tbody>
            </table>
        </div>

        <div class="block">
            <h2>Tests</h2>
            <h3>Tests</h3>
            <p>
                <button id="p2p-tests-btn" class="blue">Run</button>
            </p>
            <table class="p2p-test-table">
                <thead>
                    <th>Test name</th>
                    <th>Result</th>
                </thead>
                <tbody id="p2p-tests-tbody">
                    <tr>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- <div class="block">
            <h2>Components</h2>
            <p>
                WIP
            </p>
        </div> -->
    </div>
</template>