<template>
    <div class="top-bar">
        <min-component data-path="/components/clock">
            <span slot="before">⏲</span>
        </min-component>
        <span>dev-panel</span>
    </div>

    <div>
        <a href="#info">info</a>
        <a href="#ui">ui</a>
        <a href="#service-worker">service-worker</a>
        <a href="#websocket-server">websocket-server</a>
        <a href="#p2p">p2p</a>
        <a href="#local-storage">local-storage</a>
        <a href="#webrtc">webrtc</a>
        <a href="#tests">tests</a>
    </div>

    <div class="layout">
        <div class="block">
            <h2 id="info">Info</h2>
            <p>On firefox, enable <code>media.peerconnection.ice.no_host</code> on <code>about:config</code> seems to
                solve dev connection issues.</p>
        </div>
        <div class="block">
            <h2 id="ui">UI</h2>
            <h3>
                Elements
            </h3>
            <p>This is a text with <a href="#bottom">Link</a>, some <b>bold</b> or <i>italic</i> important words.</p>
            <h3>
                Buttons
            </h3>
            <p>
                <button>default <i class="fas fa-beer"></i></button>
                <button class="white">white <i class="fas fa-beer"></i></button>
                <button class="grey">grey <i class="fas fa-beer"></i></button>
                <button class="blue">blue <i class="fas fa-beer"></i></button>
                <button class="green">green <i class="fas fa-beer"></i></button>
                <button class="red">red <i class="fas fa-beer"></i></button>
                <button class="yellow">yellow <i class="fas fa-beer"></i></button>
                <button class="purple">purple <i class="fas fa-beer"></i></button>
                <button class="purple bullet">purple <i class="fas fa-beer"></i></button>
            </p>
            <p>
                <button class="discreet">discreet <i class="fas fa-beer"></i></button>
                <button class="discreet white">white <i class="fas fa-beer"></i></button>
                <button class="discreet grey">grey <i class="fas fa-beer"></i></button>
                <button class="discreet blue">blue <i class="fas fa-beer"></i></button>
                <button class="discreet green">green <i class="fas fa-beer"></i></button>
                <button class="discreet red">red <i class="fas fa-beer"></i></button>
                <button class="discreet yellow">yellow <i class="fas fa-beer"></i></button>
                <button class="discreet purple">purple <i class="fas fa-beer"></i></button>
            </p>
            <p>
                <button class="transparent">transparent <i class="fas fa-bars"></i></button>
                <button class="transparent white">white <i class="fas fa-bars"></i></button>
                <button class="transparent grey">grey <i class="fas fa-bars"></i></button>
                <button class="transparent blue">blue <i class="fas fa-beer"></i></button>
                <button class="transparent green">green <i class="fas fa-beer"></i></button>
                <button class="transparent red">red <i class="fas fa-beer"></i></button>
                <button class="transparent yellow">yellow <i class="fas fa-beer"></i></button>
                <button class="transparent purple">purple <i class="fas fa-beer"></i></button>
                <button class="transparent bullet"><i class="fas fa-beer"></i></button>
            </p>
            <h3>
                Input
            </h3>
            <table>
                <tbody>
                    <tr>
                        <td><label>default</label></td>
                        <td><input placeholder="default"></td>
                        <td><label>grey</label></td>
                        <td><input class="grey" placeholder="grey"></td>
                    </tr>
                    <tr>
                        <td><label>blue</label></td>
                        <td><input class="blue" placeholder="grey"></td>
                        <td><label>green</label></td>
                        <td><input class="green" placeholder="grey"></td>
                    </tr>
                    <tr>
                        <td><label>red</label></td>
                        <td><input class="red" placeholder="grey"></td>
                        <td><label>yellow</label></td>
                        <td><input class="yellow" placeholder="grey"></td>
                    </tr>
                </tbody>
            </table>
            <h3>
                Code
            </h3>
            <p>
                <code>default</code>
                <code class="verbose">.verbose</code>
                <code class="success">.success</code>
                <code class="debug">.debug</code>
                <code class="info">.info</code>
                <code class="warning">.warning</code>
                <code class="error">.error</code>
                <code class="failure">.failure</code>
            </p>
            <h3>
                Modal
            </h3>
            <p>
                <button class="blue btn-modal-show">modal show()</button>
                <button class="blue btn-modal-ask">modal ask()</button>
                <button class="blue btn-modal-alertModal">modal alertModal()</button>
                <button class="blue btn-modal-chooseModal">modal chooseModal()</button>
            </p>
            <min-component id="modal" data-path="/components/ui/modal">
                <span slot="title">🎆 Sparking title</span>
                <span slot="content">
                    <p>
                        <b>Yay</b>, test of content, <a href="/dev">dev link</a>.
                    </p>
                </span>
                <div slot="choices">
                    <button>Yes</button>
                    <button class="discreet">Do noting ?</button>
                </div>
            </min-component>
            <h3>
                Bind atomic
            </h3>
            <p>
                A <input id="bind-src-a" value=""><br>
                B <input id="bind-src-b" value=""><br>
                Obj <input id="bindobj-src" value='{"a": "a", "b": "b"}'>
            </p>
            <p>
                First bind atomic target A <code><span class="bind-target-a">unset</span></code>.<br>
                Second bind atomic target A <code><span class="bind-target-a">unset</span></code>.
            </p>
            <p>
                First bind atomic target B <code><span class="bind-target-b">unset</span></code>.<br>
                Second bind atomic target B <code><span class="bind-target-b">unset</span></code>.
            </p>
            <p>
                First bind object target A <code><span class="bindobj-target-a">unset</span></code>.<br>
                Second bind object target A <code><span class="bindobj-target-a">unset</span></code>.
            </p>
            <p>
                First bind object target B <code><span class="bindobj-target-b">unset</span></code>.<br>
                Second bind object target B <code><span class="bindobj-target-b">unset</span></code>.
            </p>
        </div>

        <div class="block">
            <h2 id="service-worker">Service worker</h2>
            <p>
                Version executed <code class="sw-version">-</code>.
                <code class="sw-error error"></code>
            </p>
            <div>
                <button class="blue btn-sw-refresh">Refresh</button>
            </div>
        </div>

        <div class="block">
            <h2 id="websocket-server">Websocket server</h2>
            <p></p>
            Websocket channel is <code class="server-con-status">-</code>.
            </p>
            <div>
                <button class="blue btn-connect">Connect</button>
                <button class="blue btn-close">Close</button>
            </div>
        </div>

        <div class="block">
            <h2 id="p2p">P2P</h2>
            <h3>Peers</h3>
            <p>
                Local peer id is <code id="p2p-local-id">-</code> <button id="p2p-local-id-copy-btn" class="discreet"><i
                        class="far fa-copy"></i></button>.
            </p>
            <p>
                Connect to peer by id <input id="p2p-peer-connect-id"> <button id="p2p-peer-connect-btn"
                    class="blue">Go</button>.
            </p>
            <p>
                Currently connected to <code id="p2p-peer-count">-</code> peers.
            </p>
            <table>
                <thead>
                    <th>Id</th>
                    <th>Status</th>
                    <th>Ping</th>
                </thead>
                <tbody id="p2p-peers-tbody">
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
            <h3>Friends</h3>
            <p>
                Local name for friends <input id="p2p-friends-local-name">
            </p>
            <p>
                Add friend by id <input id="p2p-friends-add-id"> <button id="p2p-friends-add-btn"
                    class="blue">Add</button>.
            </p>
            <p>
                <button id="p2p-friends-refresh" class="blue">Refresh</button>
            </p>
            <table>
                <thead>
                    <th>User</th>
                    <th>Session</th>
                </thead>
                <tbody id="p2p-friends-tbody">
                    <tr>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
                <!-- TODO fix display bug -->
                <min-component id="p2p-friends-confirm-modal" data-path="/components/ui/modal">
                    <span slot="title">Confirmation</span>
                    <p slot="content">
                        Do you really want to remove this friend ?
                    </p>
                    <div slot="choices">
                        <button data-choice="yes">Sure</button>
                        <button class="discreet">Cancel</button>
                    </div>
                </min-component>
            </table>
        </div>

        <div class="block">
            <h2 id="local-storage">Local storage</h2>
            <p>
                Private data stored on your device.
            </p>
            <div>
                <button class="blue btn-refresh">Refresh</button>
                <button class="blue btn-clear">Clear</button>
            </div>
            <table>
                <thead>
                    <th>Module</th>
                    <th>Key</th>
                    <th>Value</th>
                </thead>
                <tbody class="local-storage-tbody">
                </tbody>
            </table>
            <min-component id="clear-confirm-modal" data-path="/components/ui/modal">
                <span slot="title">Confirmation</span>
                <p slot="content">
                    Do you realy wan't to clear the local storage ?<br>
                    The operation is <b>irreversible</b>.
                </p>
                <div slot="choices">
                    <button data-choice="yes">Yes</button>
                    <button class="discreet">Cancel</button>
                </div>
            </min-component>
        </div>

        <div class="block">
            <h2 id="webrtc">WebRTC</h2>
            <h3>ICE candidates</h3>
            <div>
                <button class="blue btn-gen-ice-candidates">Gather candidates</button>
            </div>
            <table>
                <thead>
                    <th>Candidate</th>
                    <!-- <th>Component</th>
            <th>Type</th>
            <th>Foundation</th>
            <th>Protocol</th>
            <th>Address</th>
            <th>Port</th>
            <th>Priority</th> -->
                </thead>
                <tbody class="webrtc-ice-candidates-tbody">
                </tbody>
            </table>
        </div>

        <div class="block">
            <h2 id="tests">Tests</h2>
            <h3>Tests</h3>
            <p>
                <button id="p2p-tests-btn" class="blue">Run</button>
            </p>
            <table class="p2p-test-table">
                <thead>
                    <th>Test name</th>
                    <th>Result</th>
                </thead>
                <tbody id="p2p-tests-tbody">
                    <tr>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>