<template>
    <div class="top-bar">
        <min-component data-path="/components/clock">
            <span slot="before">⏲</span>
        </min-component>
        <span>dev-panel</span>
    </div>

    <div class="layout">
        <div class="block">
            <h2>UI</h2>
            <h3>
                Buttons
            </h3>
            <p>
                <button>default</button>
                <button class="blue">.blue</button>
                <button class="green">.green</button>
                <button class="red">.red</button>
                <button class="yellow">.yellow</button>
            </p>
            <h3>
                Code
            </h3>
            <p>
                <code>default</code>
                <code class="verbose">.verbose</code>
                <code class="success">.success</code>
                <code class="debug">.debug</code>
                <code class="info">.info</code>
                <code class="warning">.warning</code>
                <code class="error">.error</code>
                <code class="failure">.failure</code>
            </p>
            <h3>
                Components
            </h3>
            <p>
                <button class="blue btn-modal">Modal</button>
            </p>
            <min-component id="modal" data-path="/components/ui/modal">
                <span slot="title">🎆 Sparking title</span>
                <span slot="content">
                    <p>
                        <b>Yay</b>, test of content, <a href="/dev">dev link</a>.
                    </p>
                    <p>
                        <button class="blue">Do noting ?</button>
                        <button class="green">Yes.</button>
                    </p>
                </span>
            </min-component>
        </div>

        <div class="block">
            <h2>Service worker</h2>
            <p>
                Version executed <code class="sw-version">-</code>.
                <code class="sw-error error"></code>
            </p>
            <div>
                <button class="blue btn-sw-refresh">Refresh</button>
            </div>
        </div>

        <div class="block">
            <h2>Server</h2>
            <p>
                Websocket channel is <code class="server-con-status">-</code>.
            </p>
            <p>
                <code class="server-user-count">-</code> users connected on the same HUB.
            </p>
            <div>
                <button class="blue btn-connect">Connect</button>
                <button class="blue btn-close">Close</button>
            </div>
        </div>

        <div class="block">
            <h2>P2P identification</h2>
            <table>
                <thead>
                    <th>Field</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Local user</td>
                        <td><code class="p2p-local-user">-</code></td>
                    </tr>
                    <tr>
                        <td>Local device</td>
                        <td><code class="p2p-local-device">-</code>
                    </tr>
                    <tr>
                        <td>Local session</td>
                        <td><code class="p2p-local-session">-</code></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="block">
            <h2>Local storage</h2>
            <p>
                Private data stored on your device.
            </p>
            <div>
                <button class="blue btn-refresh">Refresh</button>
                <button class="blue btn-clear">Clear</button>
            </div>
            <table>
                <thead>
                    <th>Module</th>
                    <th>Key</th>
                    <th>Value</th>
                </thead>
                <tbody class="local-storage-tbody">
                </tbody>
            </table>
        </div>

        <div class="block">
            <h2>WebRTC</h2>
            <h3>ICE candidates</h3>
            <div>
                <button class="blue btn-gen-ice-candidates">Gather candidates</button>
            </div>
            <table>
                <thead>
                    <th>Candidate</th>
                    <!-- <th>Component</th>
            <th>Type</th>
            <th>Foundation</th>
            <th>Protocol</th>
            <th>Address</th>
            <th>Port</th>
            <th>Priority</th> -->
                </thead>
                <tbody class="webrtc-ice-candidates-tbody">
                </tbody>
            </table>
            <h3>Local offer</h3>
            <p>
                Generate a dummy local offer
            </p>
            <div>
                <button class="blue btn-gen-offer">Generate</button>
            </div>
            <p>
                <code class="webrtc-offer">-</code>
            </p>
        </div>

        <!-- <div class="block">
            <h2>Components</h2>
            <p>
                WIP
            </p>
        </div> -->
    </div>
</template>