* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    scrollbar-color: #303030 #202020;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2.5rem 0 1rem;
}

ul li, ol li {
    margin-top: 0.5rem;
}

img {
    max-width: 100%;
}

pre {
    font-family: 'Roboto Mono', monospace;
    border: 1px solid lightgrey;
    overflow: auto;
}

code {
    font-family: 'Roboto Mono', monospace;
    color: rgb(149, 200, 241);
    font-weight: 500;
    display: inline-block;
    background-color: rgb(149, 200, 241, 0.1);
    padding: 0 .2rem;
}

pre code {
    padding: 1rem;
}

blockquote {
    border-left: 5px solid lightgrey;
    font-size: 120%;
    font-style: italic;
    margin: 2rem 0;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    margin: .5rem 0;
    text-align: left;
    max-width: 100%;
    overflow: auto;
    display: block;
}

thead>tr {
    border-bottom: 1px solid lightgrey;
}

tbody>tr {
    border-top: 1px solid #FFFFFF44;
}

th, td {
    padding: 0.5rem;
}

hr {
    background: lightgrey;
    border: 0;
    height: 1px;
    margin: 2rem 0;
}

p {
    overflow: auto;
}

/* specific page design */

html {
    height: 100%;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    min-height: 100%;
    background-color: #292929;
    color: #bdbdbd;
}

a {
    color: #e0dbdb;
}

a:hover, a:focus {
    color: #b6b1b1;
}

a:active {
    color: #9c9494;
}

nav a {
    color: #e0dbdb;
    padding: .5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: #e0dbdb;
    background-color: #FFFFFF20;
}

nav a.is-active {
    color: #e0dbdb;
    background-color: #FFFFFF10;
}

button {
    border: none;
    background-color: hsl(216, 80%, 50%);
    color: white;
    font-size: .95rem;
    padding: .5rem;
    margin: .2rem;
    border-radius: .5rem;
}

button:hover {
    background-color: hsl(216, 80%, 55%);
}

button:active {
    box-shadow: 0 0 0 .5rem hsla(216, 80%, 50%, 30%) !important;
}

button:focus, button:hover {
    box-shadow: 0 0 0 .3rem hsla(216, 80%, 50%, 25%);
}

thead>tr {
    border-bottom: 1px solid #b6b1b180;
}

tbody>tr {
    border-top: 1px solid #b6b1b120;
}

/* footer */

footer {
    flex-grow: 0;
    background-color: #00000048;
    padding: 1rem;
    text-align: center;
}

/* flex-layout */

.flex-layout {
    flex-grow: 1;
    display: flex;
}

.flex-layout>.main, .flex-layout>.sidebar {
    min-width: 20rem;
    text-align: left;
}

@media (max-width: 50rem) {
    .flex-layout {
        display: inline;
        min-width: none;
    }
}

/* sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    z-index: 100;
}

.sidebar>* {
    flex-grow: 1;
    padding: .5rem;
}

.sidebar>header {
    flex-grow: 0;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar>footer {
    flex-grow: 0;
    margin: -.5rem;
    padding: 1rem;
}

.sidebar.left {
    border-right: 1px solid #00000048;
    background-color: #202020;
}

.sidebar h1 {
    display: inline-block;
    margin: 0;
    font-weight: lighter;
}

.sidebar-content>.sidebar-spacer {
    margin: 1.5rem 0;
    border-top: 1px solid #00000048;
}

.sidebar-content>.sidebar-group {
    margin: 1rem 0;
}

@media (max-width: 50rem) {
    .sidebar:not(.is-active)>*:not(header) {
        display: none;
    }
    .sidebar.is-active {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
    }
}

.sidebar-toggle {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: .25rem;
    border-radius: .5rem;
}

.sidebar-toggle:hover {
    background-color: #FFFFFF10;
}

.sidebar-toggle:active {
    background-color: #FFFFFF22;
    scale: .95;
}

.sidebar-toggle {
    display: none;
}

@media (max-width: 50rem) {
    .sidebar-toggle {
        display: initial;
    }
}

/* main */

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main .placeholder {
    color: #00000035;
    font-size: xx-large;
    font-weight: bolder;
    user-select: none;
}

.main .placeholder .url {
    font-weight: normal;
}

.main .placeholder.empty .url {
    font-size: large;
}

.main .placeholder.loading>div {
    margin: 2rem;
}

@keyframes showPlaceholder {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main .placeholder.loading {
    color: #00000040;
    text-align: center;
    animation: showPlaceholder 1000ms ease-in-out forwards;
}

/* js */

.js-hidden {
    display: none !important;
}

.test {
    padding: 2rem;
    font-size: small;
}

/* loading */

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #00000040;
    border-color: #00000040 transparent #00000040 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}