* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    scrollbar-color: #303030 #202020;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2.5rem 0 1rem;
}

ul li, ol li {
    margin-top: 0.5rem;
}

img {
    max-width: 100%;
}

pre {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    border: 1px solid lightgrey;
    overflow: auto;
}

code {
    font-family: 'Roboto Mono', monospace;
    color: rgb(149, 200, 241);
    font-weight: 300;
    display: inline-block;
    background-color: rgb(149, 200, 241, 0.1);
    padding: 0 .2rem;
    border-radius: .2rem;
    font-size: .95rem;
}

pre code {
    padding: 1rem;
}

blockquote {
    border-left: 5px solid lightgrey;
    font-size: 120%;
    font-style: italic;
    margin: 2rem 0;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    margin: .5rem 0;
    text-align: left;
    max-width: 100%;
    overflow: auto;
    display: block;
}

thead>tr {
    border-bottom: 1px solid lightgrey;
}

tbody>tr {
    border-top: 1px solid #FFFFFF44;
}

th, td {
    padding: 0.5rem;
}

hr {
    background: lightgrey;
    border: 0;
    height: 1px;
    margin: 2rem 0;
}

p {
    overflow: auto;
    max-width: 64ch;
}

/* specific page design */

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #292929;
    color: #eeeeee;
    font-weight: 300;
    line-height: 1.5;
}

@media (max-width: 50rem) {
    body {
        height: auto;
        min-width: 20rem;
        min-height: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #aaaaaa;
    font-weight: 300;
}

a {
    color: hsl(216, 100%, 70%);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

a:active {
    color: hsl(216, 100%, 60%);
}

nav a {
    color: #e0dbdb;
    padding: .5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover, nav a:focus {
    color: #e0dbdb;
    background-color: #FFFFFF20;
    text-decoration: none;
}

nav a.is-active {
    color: #e0dbdb;
    background-color: #FFFFFF10;
}

button {
    border: none;
    background-color: hsl(216, 80%, 50%);
    color: white;
    font-size: .95rem;
    padding: .5rem;
    margin: .2rem;
    border-radius: .5rem;
}

button:hover {
    background-color: hsl(216, 80%, 55%);
}

button:focus, button:hover {
    box-shadow: 0 0 0 .3rem hsla(216, 80%, 50%, 25%);
}

button:active {
    box-shadow: 0 0 0 .5rem hsla(216, 80%, 50%, 30%);
}

thead>tr {
    border-bottom: 1px solid #b6b1b180;
}

tbody>tr {
    border-top: 1px solid #b6b1b120;
}

/* body layout */

body {
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: min-content 1fr min-content;
}

body>header {
    grid-column: 1;
    grid-row: 1;
}

body>.sidebar {
    grid-column: 1;
    grid-row: 2;
    overflow: auto;
}

body>.main {
    grid-column: 2;
    grid-row: 1/4;
    overflow: auto;
}

body>footer {
    grid-column: 1;
    grid-row: 3;
}

@media (max-width: 50rem) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: min-content minmax(min-content, 1fr) min-content;
    }
    body>header {
        grid-column: 1;
        grid-row: 1;
    }
    body>.sidebar {
        grid-column: 1;
        grid-row: 2;
        z-index: 2;
        overflow: initial;
    }
    body>.main {
        grid-column: 1;
        grid-row: 2/4;
        z-index: 1;
        overflow: initial;
    }
    body>footer {
        grid-column: 1;
        grid-row: 3;
        z-index: 2;
    }
    body.sidebar-active>.main, body:not(.sidebar-active)>.sidebar, body:not(.sidebar-active)>footer {
        display: none;
    }
}

header, .sidebar, footer {
    border-right: 1px solid #151515;
}

@media (max-width: 50rem) {
    .sidebar, footer, header {
        border-right: none;
    }
    body:not(.sidebar-active)>header {
        border-bottom: 1px solid #151515;
    }
    .sidebar {
        border-bottom: 1px solid #151515;
    }
}

/* header */

header {
    padding: 1rem;
    background-color: #202020;
    display: flex;
    align-items: center;
}

header img {
    width: 2rem;
    height: 2rem;
    padding: .3rem;
}

header h1 {
    display: inline-block;
    margin: 0;
    flex-grow: 1;
    font-weight: 300;
}

.sidebar-toggle {
    background-color: transparent;
    padding: .25rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border: 1px solid #aaaaaa40;
}

.sidebar-toggle:focus, .sidebar-toggle:hover {
    border: 1px solid #aaaaaaa0;
    background-color: transparent;
    box-shadow: none;
}

.sidebar-toggle:active {
    background-color: transparent;
    border: 1px solid #aaaaaa;
    box-shadow: none;
}

.sidebar-toggle img {
    width: 1.2rem;
    height: 1.2rem;
    margin: .2rem;
    padding: 0;
    transition: transform 100ms;
    image-rendering: crisp-edges;
}

body.sidebar-active .sidebar-toggle img {
    transform: rotate(45deg);
    transition: transform 100ms ease-out;
}

.sidebar-toggle {
    display: none;
}

@media (max-width: 50rem) {
    .sidebar-toggle {
        display: initial;
    }
}

/* sidebar */

.sidebar {
    background-color: #202020;
}

.sidebar>.sidebar-spacer {
    margin: 1.5rem;
    border-top: 1px solid #151515;
}

.sidebar>.sidebar-group {
    margin: 1rem;
}

/* main */

.main {
    background-color: #303030;
}

.main .placeholder {
    padding: 2rem;
    color: #202020;
    font-size: xx-large;
    line-height: 1;
    font-weight: bolder;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main .placeholder .url {
    font-weight: normal;
}

.main .placeholder.empty .url {
    font-size: large;
}

/* footer */

footer {
    background-color: #151515;
    padding: 1rem;
    text-align: center;
}

/* js */

.js-hidden {
    display: none !important;
}

.test {
    padding: 2rem;
    font-size: small;
}

/* flavours */

code.verbose, code.success {
    color: hsl(145, 77%, 76%);
    background-color: hsla(145, 77%, 76%, 0.1);
}

code.debug {
    color: hsl(251, 77%, 76%);
    background-color: hsla(251, 77%, 76%, 0.1);
}

code.info {
    color: hsl(207, 77%, 76%);
    background-color: hsla(207, 77%, 76%, 0.1);
}

code.warning {
    color: hsl(64, 77%, 76%);
    background-color: hsla(64, 77%, 76%, 0.1);
}

code.error, code.failure {
    color: hsl(345, 77%, 76%);
    background-color: hsla(345, 77%, 76%, 0.1);
}

/* min-component */

min-component.render {
    display: inline-block;
    border-left: .0rem;
    border-top: .2rem solid #FFFFFF40;
    border-right: .2rem solid #FFFFFF00;
    border-radius: 10rem;
    width: 1rem;
    height: 1rem;
    animation: load-rotate 1.5s linear infinite;
}

.main>min-component.render {
    margin: 2rem;
    width: 2rem;
    height: 2rem;
}

min-component.error {
    display: block;
    border: 1px solid red;
    background-color: #FF000010;
    border-radius: .2rem;
    min-width: 1rem;
    min-height: 1rem;
    margin: .2rem;
}

min-component:not(.error):not(.render) {
    animation: showComponent 50ms ease-in-out forwards;
}

@keyframes load-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes showComponent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}