@import url('/style.css');
ul {
    padding: 0;
    margin: 0;
}

.tools {
    margin-top: .5rem;
    padding: .2rem .4rem;
}

.form-field {
    margin: 1rem;
}

.form-field label, .form-field input, .form-field small {
    margin-top: 0.5rem;
    display: block;
}

.form-field small {
    opacity: 0.5;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: .2rem .4rem;
}

ul li {
    margin: 0;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 2rem;
}

.name {
    flex-grow: 1;
    margin: .5rem;
}

li button {
    margin: .2rem;
}

li>div.icon {
    border: .1rem solid;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1.1rem;
    height: 2.2rem;
    width: 2.2rem;
}

.disconnected div.icon, .disconnected .name {
    opacity: .5;
}

.connected div.icon {
    border-color: rgba(102, 255, 0, 0.6);
}

li:not(:hover) button {
    visibility: hidden;
}

li:hover button {
    visibility: visible;
}