@import url('/style.css');
ul {
    padding: 0;
    margin: 0;
}

.form-field {
    margin: 1.5rem 1rem;
}

.form-field>* {
    margin-top: 0.5rem;
    display: block;
}

.form-field small {
    opacity: 0.5;
}

.form-field input {
    width: 100%;
}

.input-and-button {
    display: flex;
}

.input-and-button input {
    flex-grow: 1;
    margin-right: .2rem;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
}

ul li, .tools {
    padding: .2rem .4rem;
    margin: .8rem 0;
}

.tools button {
    border-radius: 2rem;
    width: 100%;
    padding: .5rem;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 2rem;
}

.infos {
    flex-grow: 1;
    margin: 0 .5rem;
}

.infos .id {
    font-size: small;
    opacity: .2;
}

li button {
    margin: .2rem;
}

li>div.icon {
    border: .1rem solid;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1.1rem;
    height: 2.2rem;
    width: 2.2rem;
}

.disconnected div.icon, .disconnected .name {
    opacity: .5;
}

.connected div.icon {
    border-color: rgba(102, 255, 0, 0.6);
}

li:not(:hover) button {
    display: none;
}

li .ping {
    font-size: small;
    opacity: .2;
    align-self: start;
}

li:hover .ping {
    display: none;
}