@import url('/style.css');
ul {
    padding: 0;
    margin: 0;
}

.form-field {
    margin: 1.5rem 1rem;
}

.form-field>* {
    margin-top: 0.5rem;
    display: block;
}

.form-field small {
    opacity: 0.5;
}

.form-field input:not([type="radio"]) {
    width: 100%;
}

.input-and-button {
    display: flex;
}

.input-and-button input {
    flex-grow: 1;
    margin-right: .2rem;
}

ul.fList>li {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 2rem;
}

ul.fList>li, .tools {
    padding: .2rem .4rem;
    margin: .8rem 0;
}

.tools button {
    border-radius: 2rem;
    width: 100%;
    padding: .5rem;
}

.infos {
    flex-grow: 1;
    margin: 0 .5rem;
}

.infos .id {
    font-size: small;
    opacity: .2;
}

li button {
    margin: .2rem;
}

li .ping {
    font-size: small;
    opacity: .2;
    margin-left: .8rem;
}

.chatbox {
    width: 40rem;
    max-width: 100%;
    height: 30rem;
}

/* profile pictures */

.profile-picture {
    border: 2px solid;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1.5rem;
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
}

.disconnected .profile-picture, .disconnected .name {
    opacity: .5;
}

.connected .profile-picture {
    border-color: rgba(102, 255, 0, 0.6);
}

.profile-picture.pic1 {
    background-image: url('/img/profiles/pic1.jpg');
}

.profile-picture.pic2 {
    background-image: url('/img/profiles/pic2.jpg');
}

.profile-picture.pic3 {
    background-image: url('/img/profiles/pic3.jpg');
}

.profile-picture.pic4 {
    background-image: url('/img/profiles/pic4.jpg');
}

.profile-picture.pic5 {
    background-image: url('/img/profiles/pic5.jpg');
}

.profile-picture.pic6 {
    background-image: url('/img/profiles/pic6.jpg');
}

.profile-picture.pic7 {
    background-image: url('/img/profiles/pic7.jpg');
}

.profile-picture.pic8 {
    background-image: url('/img/profiles/pic8.jpg');
}

.profile-picture.pic9 {
    background-image: url('/img/profiles/pic9.jpg');
}

.profile-picture.pic10 {
    background-image: url('/img/profiles/pic10.jpg');
}

.profile-picture.pic11 {
    background-image: url('/img/profiles/pic11.jpg');
}

.profile-picture.pic12 {
    background-image: url('/img/profiles/pic12.jpg');
}

.profile-picture.pic13 {
    background-image: url('/img/profiles/pic13.jpg');
}

.profile-picture.pic14 {
    background-image: url('/img/profiles/pic14.jpg');
}

/* profile picture radio select */

.radio-picts {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 1rem;
}

.radio-picts div {
    display: flex;
    flex-direction: column;
    align-items: center;
}