<template>
    <ul>
    </ul>
    <div class="tools">
        <button id="add-friend-modal-btn" class="outline grey">Add friends</button>
    </div>

    <min-component id="profile-modal" data-path="/components/ui/modal">
        <span slot="title">Your Profile</span>
        <div slot="content">
            <div class="form-field">
                <label>Pseudo</label>
                <input id="profile-modal-name" placeholder="enter your pseudo" value="">
                <small>Give a little name for your frens.</small>
            </div>
            <div class="form-field">
                <label>Picture</label>
                <div class="radio-picts">
                    <div>
                        <button class="profile-picture pic1"></button>
                        <input type="radio" name="profile-modal-pict" value="pic1">
                    </div>
                    <div>
                        <button class="profile-picture pic2"></button>
                        <input type="radio" name="profile-modal-pict" value="pic2">
                    </div>
                    <div>
                        <button class="profile-picture pic3"></button>
                        <input type="radio" name="profile-modal-pict" value="pic3">
                    </div>
                    <div>
                        <button class="profile-picture pic4"></button>
                        <input type="radio" name="profile-modal-pict" value="pic4">
                    </div>
                    <div>
                        <button class="profile-picture pic5"></button>
                        <input type="radio" name="profile-modal-pict" value="pic5">
                    </div>
                    <div>
                        <button class="profile-picture pic6"></button>
                        <input type="radio" name="profile-modal-pict" value="pic6">
                    </div>
                    <div>
                        <button class="profile-picture pic7"></button>
                        <input type="radio" name="profile-modal-pict" value="pic7">
                    </div>
                    <div>
                        <button class="profile-picture pic8"></button>
                        <input type="radio" name="profile-modal-pict" value="pic8">
                    </div>
                    <div>
                        <button class="profile-picture pic9"></button>
                        <input type="radio" name="profile-modal-pict" value="pic9">
                    </div>
                    <div>
                        <button class="profile-picture pic10"></button>
                        <input type="radio" name="profile-modal-pict" value="pic10">
                    </div>
                    <div>
                        <button class="profile-picture pic11"></button>
                        <input type="radio" name="profile-modal-pict" value="pic11">
                    </div>
                    <div>
                        <button class="profile-picture pic12"></button>
                        <input type="radio" name="profile-modal-pict" value="pic12">
                    </div>
                    <div>
                        <button class="profile-picture pic13"></button>
                        <input type="radio" name="profile-modal-pict" value="pic13">
                    </div>
                    <div>
                        <button class="profile-picture pic14"></button>
                        <input type="radio" name="profile-modal-pict" value="pic14">
                    </div>
                </div>
                <small>Maybe a little picture.</small>
            </div>
        </div>
        <div slot="choices">
            <button class="green" data-choice="apply">Ok</button>
            <button class="blue">Cancel</button>
        </div>
    </min-component>

    <min-component id="add-friend-modal" data-path="/components/ui/modal">
        <span slot="title">Add friends</span>
        <div slot="content">
            <div class="form-field">
                <div>Your id is <code id="add-friend-local-id">[todo]</code></div>
                <small>Share this id with friends to be able to communicate.<br>
                    Do not share this id publicly, private information may be leaked.
                </small>
            </div>
            <div class="form-field">
                <label>Friend id</label>
                <div class="input-and-button">
                    <input id="add-friend-id" placeholder="enter friend id" value="">
                    <button id="add-friend-btn" class="outline grey">Add</button>
                </div>
            </div>
        </div>
    </min-component>

    <min-component id="del-confirm-modal" data-path="/components/ui/modal">
        <span slot="title">Confirmation</span>
        <p slot="content">
            Do you really want to remove this friend ?
        </p>
        <div slot="choices">
            <button class="green" data-choice="yes">Continue</button>
            <button class="blue">Cancel</button>
        </div>
    </min-component>
</template>