<template>
    <ul class="fList">
    </ul>
    <div class="tools">
        <button id="add-friend-modal-btn" class="discreet grey">Add friends</button>
    </div>

    <min-component id="profile-modal" data-path="/components/ui/modal">
        <span slot="title">Profile</span>
        <div slot="content">
            <div class="form-field">
                <label>Pseudo</label>
                <input id="profile-modal-name" placeholder="enter your pseudo" value="">
                <small>Give a little name for your frens.</small>
            </div>
            <div class="form-field">
                <label>Picture</label>
                <div class="radio-picts">
                    <div>
                        <button class="profile-picture discreet grey pic1"></button>
                        <input type="radio" name="profile-modal-pict" value="pic1">
                    </div>
                    <div>
                        <button class="profile-picture discreet grey pic2"></button>
                        <input type="radio" name="profile-modal-pict" value="pic2">
                    </div>
                    <div>
                        <button class="profile-picture discreet grey pic3"></button>
                        <input type="radio" name="profile-modal-pict" value="pic3">
                    </div>
                    <div>
                        <button class="profile-picture discreet grey pic4"></button>
                        <input type="radio" name="profile-modal-pict" value="pic4">
                    </div>
                    <div>
                        <button class="profile-picture discreet grey pic5"></button>
                        <input type="radio" name="profile-modal-pict" value="pic5">
                    </div>
                    <div>
                        <button class="profile-picture discreet grey pic6"></button>
                        <input type="radio" name="profile-modal-pict" value="pic6">
                    </div>
                    <div>
                        <button class="profile-picture discreet grey pic7"></button>
                        <input type="radio" name="profile-modal-pict" value="pic7">
                    </div>
                    <div>
                        <button class="profile-picture discreet grey pic8"></button>
                        <input type="radio" name="profile-modal-pict" value="pic8">
                    </div>
                    <div>
                        <button class="profile-picture discreet grey pic9"></button>
                        <input type="radio" name="profile-modal-pict" value="pic9">
                    </div>
                    <div>
                        <button class="profile-picture discreet grey pic10"></button>
                        <input type="radio" name="profile-modal-pict" value="pic10">
                    </div>
                    <div>
                        <button class="profile-picture discreet grey pic11"></button>
                        <input type="radio" name="profile-modal-pict" value="pic11">
                    </div>
                    <div>
                        <button class="profile-picture discreet grey pic12"></button>
                        <input type="radio" name="profile-modal-pict" value="pic12">
                    </div>
                    <div>
                        <button class="profile-picture discreet grey pic13"></button>
                        <input type="radio" name="profile-modal-pict" value="pic13">
                    </div>
                    <div>
                        <button class="profile-picture discreet grey pic14"></button>
                        <input type="radio" name="profile-modal-pict" value="pic14">
                    </div>
                </div>
                <small>Maybe a little picture.</small>
            </div>
        </div>
        <div slot="choices">
            <button data-choice="apply">Ok</button>
            <button class="discreet">Cancel</button>
        </div>
    </min-component>

    <min-component id="add-friend-modal" data-path="/components/ui/modal">
        <span slot="title">Add friends</span>
        <div slot="content">
            <div class="form-field">
            </div>
            <div class="form-field">
                <div>To add a friend, send your user-id
                </div>
                <div>
                    <code id="add-friend-local-id">
                        <span id="add-friend-local-id-safe"></span>
                        <span id="add-friend-local-id-full" class="js-hidden"></span>
                    </code>
                    <button id="add-friend-local-id-copy" class="discreet discreet grey"><i
                            class="far fa-copy"></i></button>
                    <button id="add-friend-local-id-show" class="discreet discreet grey">show full id</button>
                </div>
            </div>
            <div class="form-field">
                <label>or copy his bellow</label>
                <div class="input-and-button">
                    <input id="add-friend-id" placeholder="enter friend id" value="">
                    <button id="add-friend-btn" class="discreet discreet grey">Add</button>
                </div>
            </div>
            <div class="form-field">
                <small>
                    Do not share ids publicly, private information may be leaked</br>
                    like public IP address.
                </small>
            </div>
        </div>
    </min-component>
</template>