@import url('/style.css');
:host {
    width: 100%;
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

@media (max-width: 50rem) {
    :host {
        padding: 1rem;
    }
}

@media (max-width: 30rem) {
    :host {
        padding: 0.2rem;
    }
}

.layout {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: safe center;
    justify-content: start;
}

.block {
    overflow: hidden;
    padding: 1.5rem;
}

@media (max-width: 50rem) {
    .block {
        padding: .8rem;
    }
}

.block>h2 {
    margin-top: 0;
}